html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ul[class],
ol[class]{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a[class]{
    text-decoration: none;
}

/*
 font-family: 'Raleway', sans-serif;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Merriweather', serif;
 */

body{
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}

.container{
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top-inner{
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__btn{
    display: none;
}

.menu__list{
    display: flex;
}

.menu__list-item + .menu__list-item{ 
    margin-left: 32px;
}


.menu__list-link{
    padding: 0 9px 9px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #373A39;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.6px;
    transition: border-bottom 0.3s linear;
}

.menu__list-link:hover{
    border-bottom: 1px solid #FCBB08;
}

.header__content{
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 93px);
    margin-top: 100px;
}

.header__content-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 93px);
}

.header__top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 11;
}

.header__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 88px;
    color: #fff;
    margin-top: auto;
    margin-bottom: 19px;
}

.header__subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2.743px;
    color: #FCBB08;
    margin-bottom: auto;
}

.header__icon{
    margin-bottom: 62px;
}

.about{
    background-color: #F6F8FA;
    padding: 150px 0 160px;
}

.about__inner{
    display: flex;
    justify-content: space-between;
}

.title{
    color: #242121;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px; /* 156.25% */
    letter-spacing: -1.65px;
    padding-bottom: 18px;
    position: relative;
    align-self: flex-start;

}

.title::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #FCBB08;
    bottom: 0;
    left: 0;

}

.about__title{
    font-size: 48px;
}

.about__text p{
    max-width: 770px;
    margin-bottom: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.expertise{
    padding: 140px 0 160px;
}

.expertise__title{
    margin-bottom: 90px;
}


.expertise__inner{
    display: flex;
    margin-bottom: 110px;
}

.expertise__info{
    width: 370px;
    margin-right: 30px;
    flex: none;
    margin-top: 10px;
}

.expertise__info-item{
    border-top: 2px solid #1D1D1D;
    padding: 2px 0 28px;
    text-transform: uppercase;
    color: #1D1D1D;
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: relative;
}

.expertise__info-item span{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 7px;
}

.expertise__info-item span::before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #F0F0F0;
    right: -7px;
    top: -2px;
    width: 100%;
}

.expertise__text p{
    margin-bottom: 25px;
}

.expertise__items{
    display: flex;
    justify-content: space-between;
}

.expertise__item{
    max-width: 370px;
    padding-left: 85px;
    position: relative;
}

.expertise__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.expertise__item--design::before{
    background-image: url(../img/design-item.svg);
}

.expertise__item--dev::before{
    background-image: url(../img/monitor-logo.svg);
}

.expertise__item--marketing::before{
    background-image: url(../img/speaker-logo.svg);
}

.expertise__item-title{
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    letter-spacing: 4.29px;
}

.expertise__item-text{
    color: #777;
}

.magic{
    background-color: #F6F8FA;
    background-image: url(../img/magic-dog.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left 82%;
}

.magic__title{
    margin-bottom: 67px;
}

.magic__inner{
    max-width: 470px;
    margin-left: auto;
    padding: 100px 0 190px;
}

.magic__text p{
    margin-bottom: 25px;
}

.portfolio{
    padding: 140px 0 165px;
}

.portfolio__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.portfolio__filter-btn{
    margin-right: 65px;
}

.portfolio__btn{
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #333;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 4px 5px;
    outline: none;
}

.portfolio__btn + .portfolio__btn{
    margin-left: 25px;
}

.mixitup-control-active{
    border-bottom: 1px solid #FCBB08;
}

.portfolio__content{
    column-count: 4;
    column-gap: 22px;
    margin-bottom: 70px;
}

.portfolio__item{
    margin-bottom: 22px;
    position: relative;
}

.portfolio__item-link{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; 
    letter-spacing: 1.4px;
    background-color: #4C4949;
    border: 12px solid #666363;
    opacity: 0;
    transition: all 0.3s;
}

.portfolio__item:hover .portfolio__item-link{
    opacity: 1;
}

.portfolio__item img{
    width: 100%;
}

.portfolio_add{
    display: block;
    color: #242121;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 42px 15px 41px;
    background-color: #F6F8FA;
    margin-bottom: 130px;
}

.blockquote{
    max-width: 650px;
    margin: 0 auto 148px;
    text-align: center;
    color: #242121;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 36px; /* 200% */
}

.blockquote__author{
    display: block;
    padding-top: 51px;
    color: #9E9E9E;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 32px; 
}

.portfolio__video{
    background-image: url(../img/video-bg.jpg);
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 165px;
}

.portfolio__numbers{
    display: flex;
    justify-content: space-around;
}

.portfolio__numbers-item{
    text-align: center;
    color: #242121;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 9px;
}

.portfolio__numbers-item span{
    display: block;
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
}

.slider-blog{
    background-color: #F8F6FA;
    padding: 115px 0;
}

.slider-blog__item{
    padding: 190px 0;
}

.slider-blog__item-title{
    color: #242121;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    max-width: 675px;
    display: inline-block;
}

.slider-blog__item-descr{
    color: #373A39;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
    max-width: 585px;
}

.slick-dots{
    display: flex;
}

.slick-dots li + li{
    margin-left: 13px;
}

.slick-dots button{
    background-color: #242121;
    opacity: 0.4;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    border: none
}

.slick-dots .slick-active button{
    width: 10px;
    height: 10px;
    opacity: 1;
    transform: translateY(-2px);
}

.slick-prev,
.slick-next{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
}

.slick-prev{
    left: -95px;
}

.slick-next{
    right: -95px;
}

.team{
    margin-bottom: 130px;
}

.team__title{
    margin: 120px 0 100px;
}

.team__items{
    display: flex;
    justify-content: space-between;
}

.team__name,
.team__position{
    text-align: center;
}

.team__name{
    margin: 35px 0 12px;
    color: #333;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.team__position{
    color: #373A39;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.pricing{
    background-color: #F6F8FA;
    padding: 145px 0 160px;
}

.pricing__title{
    margin-bottom: 90px;
}

.pricing__items{
    display: flex;
    justify-content: space-between;
}

ul.pricing__item{
    background-color: white;
    text-align: center;
    padding: 24px 25px 50px;
    width: 370px;
}

.pricing__item li{
    color: #242121;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 30px;
}

.pricing__item .pricing__item-name{
    text-align: left;
    font-weight: bold;
    margin-bottom: 8px;
}

.pricing__item .pricing__item-num{
    font-size: 80px;
    line-height: 109px;
    margin-bottom: 50px;
}

.pricing__item-num sup{
    font-size: 40px;
    line-height: 54px;
}

.pricing__item-link{
    margin-top: 70px;
    display: block;
    color: #242121;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}

.clients{
    padding: 70px 0 95px;
}

.clients__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connection{
    padding: 145px 0 160px;
    background-image: url(../img/map.jpg);
    background-position: right 50%;
    background-repeat: no-repeat;
    background-size: 45%;
}

.connection__title{
    margin-bottom: 80px;
}

.form{
    max-width: 570px;
}

.form input,
.form textarea{
    border: none;
    display: block;
    border-bottom: 2px solid #373A39;
    width: 100%;
    padding: 16px 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
}


.form input::placeholder,
.form textarea::placeholder{
    color: #B8B8B8;
    font-size: 12px;
    font-weight: 00;
    line-height: 20px;
    letter-spacing: 3.709px;
    text-transform: uppercase;
}

.form textarea{
    min-height: 140px;
    resize: none;
}

.form button{
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: #242121;
    padding: 17px 70px 15px;
    margin-top: 40px;
    cursor: pointer;
}



.footer__top{
    background-color: #333333;
    padding: 110px 10px 60px;
    text-align: center;
}

.footer__logo{
    display: inline-block;
    padding: 0 35px 4px;
    margin-bottom: 70px;
}

.footer__social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__social-list{
    padding: 0 15px;
    margin-bottom: 65px;
    
}

.footer__social-link{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4px;
}

.footer__contact{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 228.571% */
    margin-bottom: 60px;
}

.footer__contact address{
    margin-bottom: 5px;
}

.phone,
.mail{
    margin-bottom: 5px;
    display: block;
    color: #FFF;
}

/* .go__top img{
    text-align: center;
    margin: 60px auto;
} */

.go__top{
    display: inline-block;
}

.footer__copy{
    background-color: #2A2C2B;
    padding: 40px 10px;
    text-align: center;
    color: #CCC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1440px){
    .magic__inner{
        padding: 50px 0;
    }

    .slick-next{
        right: 0;
    }

    .slick-prev{
        left: 0;
    }

    .slider-blog__item{
        padding: 120px 60px;
    }

    ul.slick-dots{
        margin-left: 60px;
    }
}


@media (max-width: 1200px){
    .about__inner{
        display: block;
    }

    .about__title,
    .expertise__title,
    .team__title,
    .pricing__title,
    .connection__title{
        margin-bottom: 50px;
    }

    .about,
    .expertise,
    .portfolio,
    .slider-blog,
    .team,
    .pricing,
    .connection{
        padding: 75px 0;
    }

    .header__top-inner{
        padding-bottom: 5px;
    }

    .about__text p{
        max-width: 100%;
    }

    .title{
        font-size: 48px;
        line-height: 65px;
    }

    .portfolio__filter-btn{
        margin-right: 0;
    }

    .team__items,
    .pricing__items,
    .clients__list{
        column-gap: 20px;
    }


}

@media (max-width: 992px){
    .expertise__inner{
        display: block;
        margin-bottom: 75px;
    }

    .expertise__info{
        width: 100%;
        margin-right: 0;
    }

    .expertise__items{
        display: block;
    }

    .expertise__item{
        width: 100%;
        margin-bottom: 40px;
    }

    .magic{
        background-image: none;
    }

    .magic__inner{
        max-width: 100%;
        margin-left: 0;
    }

    .magic__title{
        margin-bottom: 50px;
    }
    
    .portfolio__content{
        column-count: 3;
        margin-bottom: 40px;
    }

    .portfolio__top{
        display: block;
    }

    .portfolio__filter-btn{
        margin-top: 40px;
    }

    .portfolio__top{
        margin-bottom: 50px;
    }
    
    .connection{
        background-image: none;
    }

    .form{
        max-width: 100%;
    }

    .footer__top{
        padding-top: 75px;
    }

    .footer__logo{
        margin-bottom: 40px;
    }

    ul.footer__social{
        margin-bottom: 40px;
        flex-wrap: wrap;
    }

    .footer__social-list{
        width: 33.333333%;
        margin-bottom: 25px;
    }
}


@media (max-width: 768px){
    .menu__list{
        display: block;
        position: absolute;
        left:0;
        right: 0;
        top: 0;
        background-color: #000;
        text-align: center;
        transform: translateY(-200%);
        transition: all 0.5s;
    }

    ul.menu__list{
        padding:90px 0 15px ;
    }

    .menu__list-item + .menu__list-item{ 
        margin-left: 0
    }

    .menu__list-link{
        display: block;
        padding: 15px 0;
        color: #FFF;
    }

    .logo{
        z-index: 2;
        position: relative;
    }

    .menu__btn{
        display: block;
        background-color: transparent;
        border: none;
        padding: 0;
        margin-bottom: 8px;
        z-index: 2;
        position: relative;
    }

    .header__top-inner.header__top-inner--active .menu__list{
        transform: translateY(0);
    }

    .header__top-inner.header__top-inner--active path,
    .header__top-inner.header__top-inner--active .menu__btn rect{
        fill: white;
    }
    

    .header__title{
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 10px;
    }

    .header__subtitle{
        font-size: 14px;
        line-height: 16px;        
    }

    .title{
        font-size: 48px;
        line-height: 60px;
    }

    .portfolio__content{
        column-count: 2;
    }

    .portfolio__btn{
        display: block;
        margin-bottom: 30px;
    }

    .portfolio__btn + .portfolio__btn{
        margin-left: 0;
    }

    .portfolio_add{
        margin-bottom: 40px;
    }

    .blockquote{
        margin-bottom: 40px;
        padding: 0 10px;
    }

    .portfolio__numbers{
        flex-wrap: wrap;
    }

    .portfolio__numbers-item{
        width: 50%;
        margin-bottom: 40px;
    }

    .slider-blog__item{
        padding: 40px 0px;
    }

    ul.slick-dots{
        margin-left: 0px;
    }

    .slider-blog__item-title{
        font-size: 24px;
        line-height: 32px;
    }

    .pricing__items{
        display: block;
    }

    ul.pricing__item{
        margin: 0 auto 25px;
        max-width: 500px;
    }

    .clients__list{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .clients__list li{
        margin-bottom: 25px;
    }
}

@media (max-width: 640px){
    .team__items{
        display: block;
    }

    .team__item{
        margin-bottom: 25px;
    }

    .team__item img{
        margin: 0 auto;
    }
}

@media (max-width: 440px){
    .header__title{
        font-size: 36px;
        line-height: 44px;
    }

    .header__subtitle{
        font-size: 12px;
        line-height: 14px;        
    }

    .about__title,
    .title{
        font-size: 28px;
        line-height: 42px;
    }

    .portfolio__content{
        column-count: 1;
    }

    .footer__social-list{
        width: 50%;
    }
}

@media (max-width: 340px){
    .expertise__item{
        padding-left: 0;
        padding-top: 60px;
    }

    .portfolio__numbers-item{
        width: 100%;
    }
}